body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    max-width: 500px;
}

.card h2 {
    margin-top: 0;
    color: #333;
}

.card p {
    margin: 8px 0;
    color: #555;
}

.cena {
    font-weight: bold;
    color: #007BFF;
}

.kolicina {
    font-style: italic;
    color: #28a745;
}


.na-stanju {
    color: green;
    font-weight: bold;
}
